.toolbarClassName {
  background: transparent;
  border: 0ch;
  height: 40px;
}

.wrapperClassName {
  min-height: 180px;
}

.ql-editor {
  font-size: 16px;
  line-height: 22px;
}

.editor {
  height: 100%;
  width: 100%;
}

.ql-bubble * {
  z-index: 1;
}

.ql-container {
  height: 100px;
}

.ql-snow {
  border: 0 !important;
}
