.toolbarClassName {
  background: transparent;
  border: 0ch;
  height: 40px;
}

.wrapperClassName {
  min-height: 180px;
}

.ql-editor {
  font-size: 16px;
  line-height: 22px !important;
  padding: 5px 5px !important;
}

.editor {
  height: 100%;
  width: 100%;
}

.ql-bubble * {
  z-index: 1;
}

.ql-container {
  height: 80px !important;
}

.subtitleContainer {
  overflow-y: auto;
  height: 100vh;
}

@media screen and (max-width: 1536px) {
  .subtitleContainer {
    height: 59vh;
  }
}
